

@media (min-width: 701px) and (max-width: 10000px){
    .MobileEducation{
      display: none;
    }
    }
@media (min-width: 701px) and (max-width: 10000px){
    .mobileEdu{
      display: none;
    }
    }
    
    /*----moobile Responsive-----*/
    
    
    
    .MobileEducation{
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: center;
    }
    .mobileEdu{
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
    
    .containerrr{
      width: 89%;
      padding: 0 px;
      margin: 0 10px;
      ul{
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0%;
          height: 100%;
          border: 1px dashed #aaa;
        }
      }
    }
    
    .box{
      margin: 50px 0;
      padding: 10px 20px;
      // background: rgba(0, 0, 0, 0.2);
      width: 100%;
      position: relative;
      letter-spacing: 2px;
      border-radius: 5px;
      box-sizing: border-box;
    
      >span{
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        height: 100%;
        border: 1px solid #ccc;
        &:before,
        &:after{
          content: "";
          position: absolute;
          left: -7px;
          width: 14px;
          height: 14px;
          border: 2px solid #ccc;
          background: #01579B;
          border-radius: 100%;
        }
        &:before{
          top: -12px;
        }
        &:after{
          top: 100%;
        }
      }//end span
      .title{
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 10px;
      }
      .sub-title{
        font-size: 0.6rem;
        color: #aaa;
      }
      .info{
        margin: 15px 0;
      }
      .time{
        span{
          position: absolute;
          font-size: 0.5rem;
          color: #aaa;
          &:first-child{
            top: -10px;
            left: -70px;
          }
          &:last-child{
            top: 100%;
            left: -70px;
          }
        }
      }
    }
    
