:root {

    /* --primary-bg2:#6B75A7;
    --primary-bg:#695aa6; */
    --primary-color: #518db0;
    --secondary-color: #faf9f6;
    --secondary-bg:#FAF9F6
  --white-text: #FFFFFF;
  --white-color: #FFFFFF;
  --black-text:#000000;
  --orange-color:#FFA500;
  --red-color:#FF0000;
  --dark-red:#8B0000;
  --blue-color:#0000FF;
  --dark-blue:#00008B;
  --green-color:#07FF5A;
  --dark-green:#0B8B36;
  --purpule-color:#F887FF;

}


/*___________________________________*/

